# Carpetas de compilación de ROS 2
build/
install/
log/

# Archivos de Python temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# ROS2 Python stubs for IDE intellisense
.ros2_stubs/

# Archivos de usuario/sistema
.DS_Store
.vscode/